@model IEnumerable<ExamenAMR.WebSite.Models.Carta>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Nueva carta</a>
</p>

<div class="container text-center">
    <div class="row align-items-center">
        @foreach (var item in Model)
        {
            var imagePath = "";

            imagePath = @"/Images" + item.Imagen;

            <div class="card" style="width: 15%; height:10%; text-align:center; padding-top:5px; margin:2px;">
                <img src="@imagePath" class="card-img-top" alt="...">
                <div class="card-body">
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalle</a>
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>*@
                </div>
            </div>
        }
    </div>
</div>
